.four{
    list-style: none;
    border: 1px solid;
    
}
.six{
    font-size: 1em;
    text-transform: capitalize;
    border: 1px solid;
    margin: 5px;
    text-align: center;
}
.nine{
    font-size: 1em;
    text-transform: capitalize;
    border: 1px solid;
    margin: 5px;
    text-align: center;
}